In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
data = { 'items' : ['shirt','t_shirt','jean','chenos'], 'size' : ['Medium','Large','Small','Medium'], 'color' : ['blue','green','black','white']}

In [8]:
df = pd.DataFrame(data)
df

     items    size  color
0    shirt  Medium   blue
1  t_shirt   Large  green
2     jean   Small  black
3   chenos  Medium  white

In [9]:
x=LabelEncoder()

In [11]:
df['new_size'] = x.fit_transform(df['size'])

In [12]:
df

     items    size  color  new_size
0    shirt  Medium   blue         1
1  t_shirt   Large  green         0
2     jean   Small  black         2
3   chenos  Medium  white         1