In [16]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [17]:
data = {'fruit' : ['apple','orange','banana'], 'color' :['red','orange','yellow']}

In [18]:
df = pd.DataFrame(data)
df

    fruit   color
0   apple     red
1  orange  orange
2  banana  yellow

In [19]:
x = OneHotEncoder()

In [20]:
new_color = x.fit_transform(df[['color']]).toarray()

In [22]:
df1 = pd.DataFrame(new_color, columns=x.get_feature_names_out(['color']))
df1

   color_orange  color_red  color_yellow
0           0.0        1.0           0.0
1           1.0        0.0           0.0
2           0.0        0.0           1.0

In [23]:
df_enc = pd.concat([df, df1], axis=1)

In [24]:
df_enc

    fruit   color  color_orange  color_red  color_yellow
0   apple     red           0.0        1.0           0.0
1  orange  orange           1.0        0.0           0.0
2  banana  yellow           0.0        0.0           1.0